.frame {
  perspective: 2500px;
  transform-style: preserve-3d;
  perspective-origin: 15% 50%;
}

.screen {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  position: absolute;
  width: 105px;
  height: 80px;
  border-radius: 5px;
  background-color: rgb(194, 223, 247);
  transform: rotateX(20deg) rotateY(-17deg) translate(490%, -610%) skewY(15deg)
    skewX(-7deg);
}

p {
  padding: 0;
  margin: 0;
  display: inline;
}

.error {
  font-size: smaller;
}
